.grid-container {
    display:grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto auto auto;
    border-collapse: collapse;
    border-spacing: 0;
}

.contact{
    grid-column: 1 / span 2;
    text-align: center;
    background-color: #0c2438;
    color: #F5F5Fa;
    justify-content: center;
    padding: 5%;
    border-left: 2px solid lightblue;
    border-right: 2px solid lightblue;
    border-top: transparent;
    border-bottom: transparent;
}

table {
    width: 100%;
    letter-spacing: 3px;
    font-style: italic;
}

td {
    width: 33%;
    text-align: center;
}

a:link, a:visited{
    color: #F5F5Fa;
}

a:hover, a:active{
    color: rgb(250, 3, 135);
}
.header {
    grid-column: 1 / span 2;
    grid-row: 1;
    background-color: #1C5585;
    color: #F5F5Fa;
    text-align: center;
    letter-spacing: 3px;
    font-style: italic;
    border: 2px solid lightblue;
}

.image {
    grid-column: 1 / span 2;
    grid-row: 2;
    border: 2px solid lightblue;
    border-top: transparent;
}

.nait {
    grid-column: 1;
    grid-row: 4;
    background-color: #0c2438;
    color: #F5F5Fa;
    text-align: center;
    font-size: 25px;
    border-right: 1px solid lightblue;
    border-left: 2px solid lightblue;
    border-bottom: 2px solid lightblue;
    border-top: transparent;
}

.skills{
    grid-column: 2;
    grid-row: 4;
    background-color: #0c2438;
    color: #F5F5Fa;
    font-size: 25px;
    justify-content: center;
    border-left: 1px solid lightblue;
    border-right: 2px solid lightblue;
    border-bottom: 2px solid lightblue;
    border-top: transparent;
    padding: 5%;
}
img {
    height: 100%;
    width: 100%;
}

nav {
    background-color: #1C5585;
    color: #F5F5Fa;
    text-align: center;
    font-size: large;
    grid-column: 1 / span 2;
    grid-row: 3;
    border: 2px solid lightblue;
    border-top: transparent;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 25px;
}

footer {
    border-bottom: 2px solid lightblue;
    border-right: 2px solid lightblue;
    border-left: 2px solid lightblue;
    border-top: transparent;
    grid-row: 5;
    grid-column: 1 / span 2;
    font-size: small;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgb(75, 234, 253);
}

body {
    background-color: #17171F;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

@media screen and ( min-width : 800px ) {
    .grid-container {grid-template-columns: auto auto; grid-template-rows: auto auto auto auto auto;}
    .header {grid-row: 1; grid-column: 1 / span 2;}
    nav {grid-row: 2; grid-column: 1 / span 2;}
    .image {grid-row: 3 / span 2; grid-column: 1;}

    .nait {
        grid-row: 3;
        grid-column: 2;
        border-right: 2px solid lightblue;
        border-left: transparent;
    }

    .skills {
        grid-row: 4;
        grid-column: 2;
        border-right: 2px solid lightblue;
        border-left: transparent;
    }
    footer {grid-column: 1 / span 2; grid-row: 5};
}